@charset 'UTF-8';
// @use 'abstract/' as *;
// @use 'modules/' as *;
@use 'base/_reset';

@include titleArea;
@include bgBtnDefault;
@include modal;
@include inputFeild;
@include listDefault;
@include tag;
@include taskBar;
@include navBar;
@include tabBar;

.nav-bar__fixed {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}
