@use 'sass:color';

// bgcolor
$primary-base: #6a3ea1;
$primary-dark: #3a2258;
$primary-light: #efe9f7;
$primary-background: #faf8fc;
$secondary-base: #60d889;
$secondary-dark: #1f7f40;
$secondary-light: #daf6e4;
$neutral-dark: #180e25;
$neutral-darkgrey: #827d89;
$neutral-basegrey: #c8c5cb;
$neutral-lightgrey: #efeef0;
$neutral-white: #ffffff;
$success-base: #60d889;
$success-dark: #1f7f40;
$success-light: #daf6e4;
$error-base: #ce3a54;
$error-dark: #5a1623;
$error-light: #f7dee3;
$warning-base: #f8c715;
$warning-dark: #725a03;
$warning-light: #fdebab;
