@use 'sass:list';
@use 'sass:map';
@use 'sass:color';
@use 'sass:string';
@use '../abstract/' as *;

@mixin taskBar() {
  .task-bar {
    display: flex;
    box-shadow: 0px 1px 0px 0px $neutral-lightgrey;
    &--date {
      width: 100%;
      padding-left: rem(16px);
      font-size: rem(12px);
      line-height: rem(12px);
      display: flex;
      align-items: center;
    }
    &--list {
      text-wrap: nowrap;
      button {
        width: rem(48px);
        height: rem(48px);
        border: none;
        cursor: pointer;
        background-position: center;
        background-repeat: no-repeat;
        span {
          @include ally-hidden;
        }
        &:nth-child(n + 2) {
          margin-left: rem(4px);
        }
        &.search {
          background-image: url(@/assets/images/icon/icon-task-search.svg);
        }
        &.bookmark {
          background-image: url(@/assets/images/icon/icon-task-bookmark.svg);
        }
        &.options {
          background-color: $primary-base;
          background-image: url(@/assets/images/icon/icon-task-dots.svg);
        }
      }
    }
  }
}

@mixin navBar() {
  .nav-bar {
    position: relative;
    height: rem(54px);
    box-shadow: 0px 1px 0px 0px $neutral-lightgrey;
    .title {
      text-align: center;
      font-size: rem(16px);
      line-height: rem(54px);
      font-weight: 500;
      margin: 0;
      padding: rem(0 100px);
    }
    &--list {
      position: absolute;
      width: 100%;
      left: 0%;
      top: 50%;
      transform: translateY(-50%);

      ul {
        display: flex;
        justify-content: space-between;
        padding: rem(0 16px);
        li {
          display: flex;
          align-items: center;
          button {
            display: block;
            border: none;
            cursor: pointer;

            &.back {
              padding-left: rem(28px);
              background-image: url(@/assets/images/icon/icon-cheveron-left.svg);
              background-repeat: no-repeat;
              background-position: left center;
              color: $primary-base;
              line-height: rem(38px);
            }
            &.setting {
              padding: rem(22px 22px 0 0);
              background-image: url(@/assets/images/icon/icon-nav-setting.svg);
              background-repeat: no-repeat;
              background-position: left center;
              color: $primary-base;
            }
            &.action {
              padding: rem(0 16px);
              line-height: rem(38px);
              border-radius: rem(38px);
              background-color: $primary-base;
              color: $neutral-lightgrey;
              span {
              }
            }
          }
        }
      }
    }
    .ally {
      @include ally-hidden;
    }
  }
}

@mixin tabBar() {
  .tab-bar {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: $neutral-white;
    nav {
      ul {
        position: relative;
        display: flex;
        justify-content: space-around;
        padding: rem(16px);
        li {
          display: flex;
          align-items: flex-end;
          a {
            display: block;
            padding-top: rem(40px);
            width: rem(52px);
            font-size: rem(10px);
            text-align: center;
            color: $neutral-darkgrey;
            background-repeat: no-repeat;
            background-position: center top rem(3px);
            &[aria-current] {
              color: $primary-base;
            }
          }
          &.ally {
            position: relative;
            width: rem(80px);
            margin: 0 rem(4px);
            &::before {
              position: absolute;
              top: rem(-56px);
              left: 50%;
              transform: translate(-50%);
              display: block;
              content: '';
              width: rem(80px);
              height: rem(80px);
              border-radius: 100%;
              background-color: $neutral-white;
            }
            a {
              position: absolute;
              left: 50%;
              transform: translate(-50%);
              top: rem(-48px);
              padding-top: 0;
              width: rem(64px);
              height: rem(64px);
              border-radius: 100%;
              background-color: $primary-base;
              background-image: url(@/assets/images/icon/icon_outline_plus.svg);
              background-position: center;
              box-shadow: rem(0 3px 4px 0px) #00000033;
              span {
                @include ally-hidden;
              }
            }
          }
          &.home {
            a {
              background-image: url(@/assets/images/icon/icon_outline_home.svg);
              &[aria-current] {
                background-image: url(@/assets/images/icon/icon_solid_home.svg);
              }
            }
          }
          &.finished {
            a {
              background-image: url(@/assets/images/icon/icon_outline_finished.svg);
              &[aria-current] {
                background-image: url(@/assets/images/icon/icon_solid_finished.svg);
              }
            }
          }
          &.search {
            a {
              background-image: url(@/assets/images/icon/icon_outline_search.svg);
              &[aria-current] {
                background-image: url(@/assets/images/icon/icon_solid_search.svg);
              }
            }
          }
          &.settings {
            a {
              background-image: url(@/assets/images/icon/icon_outline_setting.svg);
              &[aria-current] {
                background-image: url(@/assets/images/icon/icon_solid_setting.svg);
              }
            }
          }
        }
      }
    }
  }
}
