@use 'sass:list';
@use 'sass:map';
@use 'sass:color';
@use 'sass:string';
@use '../abstract/' as *;

@mixin bgBtnDefault {
  //가이드 화면 때문에 만든 style
  .guide-txt__wrap {
    background-color: $neutral-lightgrey;
    margin: rem(20px) 0;
    padding: rem(16px);
    h4 {
      font-size: rem(22px);
      line-height: rem(26px);
      font-weight: 500;
    }
    .guide-txt-box {
      margin-top: 16px;
      h5 {
        font-size: rem(18px);
        line-height: rem(24px);
      }
      p,
      ol > li {
        font-size: rem(16px);
        line-height: rem(22px);
      }
    }
  }
  .btn {
    border: 0;
    padding: 0;
    cursor: pointer;
    position: relative;
    border-radius: rem(100px);
    .btn-txt {
      font-weight: 500;
    }
    .hidden {
      @include ally-hidden;
    }
    // size case
    &.btn-large {
      width: 100%;
      padding: rem(16px) rem(20px);
      display: block;
      // iconPositionClass
      .icon-right {
        position: relative;
        display: block;
        &::before {
          content: '';
          position: absolute;
          width: rem(20px);
          height: rem(20px);
          background: url('@/assets/images/icon/icon_arrow_right.svg') no-repeat;
          background-size: contain;
          right: 0;
        }
      }
      .icon-center {
        position: relative;
        display: inline-block;
        &::before {
          content: '';
          position: absolute;
          width: rem(20px);
          height: rem(20px);
          background: url('@/assets/images/icon/icon_arrow_right.svg') no-repeat;
          background-size: contain;
          left: rem(-36px);
        }
      }
      .icon-left {
        position: relative;
        display: block;
        &::before {
          content: '';
          position: absolute;
          width: rem(20px);
          height: rem(20px);
          background: url('@/assets/images/icon/icon_arrow_right.svg') no-repeat;
          background-size: contain;
          left: 0;
        }
      }
    }
    &.btn-medium {
      width: auto;
      padding: rem(16px) rem(24px);
      display: inline-block;
      // iconPositionClass
      .icon-right {
        position: relative;
        display: block;
        padding: 0 rem(36px) 0 0;
        &::before {
          content: '';
          position: absolute;
          width: rem(20px);
          height: rem(20px);
          background: url('@/assets/images/icon/icon_arrow_right.svg') no-repeat;
          background-size: contain;
          right: 0;
        }
      }
      .icon-center {
        position: relative;
        display: inline-block;
        padding: 0 0 0 rem(28px);
        &::before {
          content: '';
          position: absolute;
          width: rem(20px);
          height: rem(20px);
          background: url('@/assets/images/icon/icon_arrow_right.svg') no-repeat;
          background-size: contain;
          left: 0;
        }
      }
      .icon-left {
        position: relative;
        display: block;
        padding: 0 0 0 rem(36px);
        &::before {
          content: '';
          position: absolute;
          width: rem(20px);
          height: rem(20px);
          background: url('@/assets/images/icon/icon_arrow_right.svg') no-repeat;
          background-size: contain;
          left: 0;
        }
      }
    }
    &.btn-small {
      width: auto;
      padding: rem(8px) rem(16px);
      display: inline-block;
      // iconPositionClass
      .icon-right {
        position: relative;
        display: block;
        padding: 0 rem(36px) 0 0;
        &::before {
          content: '';
          position: absolute;
          width: rem(20px);
          height: rem(20px);
          background: url('@/assets/images/icon/icon_arrow_right.svg') no-repeat;
          background-size: contain;
          right: 0;
        }
      }
      .icon-center {
        position: relative;
        display: inline-block;
        padding: 0 0 0 rem(28px);
        &::before {
          content: '';
          position: absolute;
          width: rem(20px);
          height: rem(20px);
          background: url('@/assets/images/icon/icon_arrow_right.svg') no-repeat;
          background-size: contain;
          left: 0;
        }
      }
      .icon-left {
        position: relative;
        display: block;
        padding: 0 0 0 rem(36px);
        &::before {
          content: '';
          position: absolute;
          width: rem(20px);
          height: rem(20px);
          background: url('@/assets/images/icon/icon_arrow_right.svg') no-repeat;
          background-size: contain;
          left: 0;
        }
      }
    }
    // bg색 버튼
    &[class*='bg-'] {
      .btn-txt {
        color: $neutral-white;
      }
    }
    &.bg-base {
      background-color: $primary-base;
    }
    &.bg-dark {
      background-color: $primary-dark;
    }
    &.bg-disabled {
      background-color: $neutral-white;
      .btn-txt {
        color: $primary-base;
      }
      // iconPositionClass
      .icon-right {
        position: relative;
        display: block;
        &::before {
          content: '';
          position: absolute;
          background: url('@/assets/images/icon/icon_arrow_right_base.svg')
            no-repeat;
          background-size: contain;
        }
      }
      .icon-center {
        position: relative;
        display: inline-block;
        &::before {
          content: '';
          position: absolute;
          background: url('@/assets/images/icon/icon_arrow_right_base.svg')
            no-repeat;
          background-size: contain;
        }
      }
      .icon-left {
        position: relative;
        display: block;
        &::before {
          content: '';
          position: absolute;
          background: url('@/assets/images/icon/icon_arrow_right_base.svg')
            no-repeat;
          background-size: contain;
        }
      }
      &:disabled {
        background-color: $neutral-basegrey;
        // iconPositionClass
        .icon-right {
          position: relative;
          display: block;
          &::before {
            content: '';
            position: absolute;
            background: url('@/assets/images/icon/icon_arrow_right.svg')
              no-repeat;
            background-size: contain;
          }
        }
        .icon-center {
          position: relative;
          display: inline-block;
          &::before {
            content: '';
            position: absolute;
            background: url('@/assets/images/icon/icon_arrow_right.svg')
              no-repeat;
            background-size: contain;
          }
        }
        .icon-left {
          position: relative;
          display: block;
          &::before {
            content: '';
            position: absolute;
            background: url('@/assets/images/icon/icon_arrow_right.svg')
              no-repeat;
            background-size: contain;
          }
        }
      }
    }
    // bg색 버튼 > Icon Button
    &[class*='bg-icon'] {
      width: rem(64px);
      height: rem(64px);
      border-radius: 100%;
      box-shadow: 0px rem(3px) rem(4px) 0px rgba(0, 0, 0, 0.2);
      &::before {
        content: '';
        position: absolute;
        width: rem(32px);
        height: rem(32px);
        background: url('@/assets/images/icon/icon_plus_base.svg') no-repeat;
        background-size: contain;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    &.bg-icon-base {
      background-color: $primary-base;
      &::before {
        content: '';
        position: absolute;
        width: rem(32px);
        height: rem(32px);
        background: url('@/assets/images/icon/icon_plus.svg') no-repeat;
        background-size: contain;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    &.bg-icon-white {
      background-color: $neutral-white;
      &::before {
        content: '';
        position: absolute;
        width: rem(32px);
        height: rem(32px);
        background: url('@/assets/images/icon/icon_plus_base.svg') no-repeat;
        background-size: contain;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    &.bg-icon-dark {
      background-color: $primary-dark;
      &::before {
        content: '';
        position: absolute;
        width: rem(32px);
        height: rem(32px);
        background: url('@/assets/images/icon/icon_plus.svg') no-repeat;
        background-size: contain;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    &.bg-icon-light {
      background-color: $primary-light;
      &::before {
        content: '';
        position: absolute;
        width: rem(32px);
        height: rem(32px);
        background: url('@/assets/images/icon/icon_plus_base.svg') no-repeat;
        background-size: contain;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    &.bg-icon-disabled {
      &:disabled {
        background-color: $neutral-basegrey;
      }
      &::before {
        content: '';
        position: absolute;
        width: rem(32px);
        height: rem(32px);
        background: url('@/assets/images/icon/icon_plus.svg') no-repeat;
        background-size: contain;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    // border색 버튼
    &[class*='bd-'] {
      border: 1px solid transparent;
      background-color: transparent;
      &.btn-large {
        padding: rem(15px) rem(19px);
      }
      &.btn-medium {
        padding: rem(15px) rem(19px);
      }
      &.btn-small {
        padding: rem(7px) rem(17px);
      }
    }
    &.bd-base {
      border-color: $primary-base;
      .btn-txt {
        color: $primary-base;
      }
      .icon-right {
        position: relative;
        display: block;
        &::before {
          content: '';
          position: absolute;
          width: rem(20px);
          height: rem(20px);
          background: url('@/assets/images/icon/icon_arrow_right_base.svg')
            no-repeat;
          background-size: contain;
        }
      }
      .icon-center {
        position: relative;
        display: inline-block;
        &::before {
          content: '';
          position: absolute;
          width: rem(20px);
          height: rem(20px);
          background: url('@/assets/images/icon/icon_arrow_right_base.svg')
            no-repeat;
          background-size: contain;
        }
      }
      .icon-left {
        position: relative;
        display: block;
        &::before {
          content: '';
          position: absolute;
          width: rem(20px);
          height: rem(20px);
          background: url('@/assets/images/icon/icon_arrow_right_base.svg')
            no-repeat;
          background-size: contain;
        }
      }
    }
    &.bd-dark {
      border-color: $primary-dark;
      .btn-txt {
        color: $primary-dark;
      }
      .icon-right {
        position: relative;
        display: block;
        &::before {
          content: '';
          position: absolute;
          width: rem(20px);
          height: rem(20px);
          background: url('@/assets/images/icon/icon_arrow_right_dark.svg')
            no-repeat;
          background-size: contain;
        }
      }
      .icon-center {
        position: relative;
        display: inline-block;
        &::before {
          content: '';
          position: absolute;
          width: rem(20px);
          height: rem(20px);
          background: url('@/assets/images/icon/icon_arrow_right_dark.svg')
            no-repeat;
          background-size: contain;
        }
      }
      .icon-left {
        position: relative;
        display: block;
        &::before {
          content: '';
          position: absolute;
          width: rem(20px);
          height: rem(20px);
          background: url('@/assets/images/icon/icon_arrow_right_dark.svg')
            no-repeat;
          background-size: contain;
        }
      }
    }
    &.bd-disabled {
      .btn-txt {
        color: $neutral-basegrey;
      }
      &:disabled {
        border-color: $neutral-basegrey;
      }
      .icon-right {
        position: relative;
        display: block;
        &::before {
          content: '';
          position: absolute;
          width: rem(20px);
          height: rem(20px);
          background: url('@/assets/images/icon/icon_arrow_right_disabled.svg')
            no-repeat;
          background-size: contain;
        }
      }
      .icon-center {
        position: relative;
        display: inline-block;
        &::before {
          content: '';
          position: absolute;
          width: rem(20px);
          height: rem(20px);
          background: url('@/assets/images/icon/icon_arrow_right_disabled.svg')
            no-repeat;
          background-size: contain;
        }
      }
      .icon-left {
        position: relative;
        display: block;
        &::before {
          content: '';
          position: absolute;
          width: rem(20px);
          height: rem(20px);
          background: url('@/assets/images/icon/icon_arrow_right_disabled.svg')
            no-repeat;
          background-size: contain;
        }
      }
    }
    &.bd-google {
      border-color: $neutral-basegrey;
      background-color: $neutral-white;
      .btn-txt {
        color: $neutral-dark;
        line-height: rem(22px);
      }
      .icon-center {
        position: relative;
        display: inline-block;
        &::before {
          content: '';
          position: absolute;
          width: rem(24px);
          height: rem(24px);
          background: url('@/assets/images/logo/google_logo.png') no-repeat;
          background-size: contain;
        }
      }
    }
    // hover 시, bg색 버튼
    &[class*='hv-'] {
      background-color: transparent;
      .btn-txt {
        color: $primary-base;
      }
    }
    &.hv-base {
      &:hover {
        background-color: $primary-light;
      }
      .icon-right {
        position: relative;
        display: block;
        &::before {
          content: '';
          position: absolute;
          width: rem(20px);
          height: rem(20px);
          background: url('@/assets/images/icon/icon_arrow_right_base.svg')
            no-repeat;
          background-size: contain;
        }
      }
      .icon-center {
        position: relative;
        display: inline-block;
        &::before {
          content: '';
          position: absolute;
          width: rem(20px);
          height: rem(20px);
          background: url('@/assets/images/icon/icon_arrow_right_base.svg')
            no-repeat;
          background-size: contain;
        }
      }
      .icon-left {
        position: relative;
        display: block;
        &::before {
          content: '';
          position: absolute;
          width: rem(20px);
          height: rem(20px);
          background: url('@/assets/images/icon/icon_arrow_right_base.svg')
            no-repeat;
          background-size: contain;
        }
      }
    }
    &.hv-disabled {
      .btn-txt {
        color: $neutral-basegrey;
      }
      .icon-right {
        position: relative;
        display: block;
        &::before {
          content: '';
          position: absolute;
          width: rem(20px);
          height: rem(20px);
          background: url('@/assets/images/icon/icon_arrow_right_disabled.svg')
            no-repeat;
          background-size: contain;
        }
      }
      .icon-center {
        position: relative;
        display: inline-block;
        &::before {
          content: '';
          position: absolute;
          width: rem(20px);
          height: rem(20px);
          background: url('@/assets/images/icon/icon_arrow_right_disabled.svg')
            no-repeat;
          background-size: contain;
        }
      }
      .icon-left {
        position: relative;
        display: block;
        &::before {
          content: '';
          position: absolute;
          width: rem(20px);
          height: rem(20px);
          background: url('@/assets/images/icon/icon_arrow_right_disabled.svg')
            no-repeat;
          background-size: contain;
        }
      }
    }
  }
  // 링크
  a {
    &.btn {
      border-radius: 0;
      display: inline-block;
      // 폰트 색상
      &[class*='color-base'] {
        .btn-txt {
          color: $primary-base;
        }
        .icon-right {
          position: relative;
          display: block;
          padding-right: rem(36px);
          &::before {
            content: '';
            position: absolute;
            width: rem(20px);
            height: rem(20px);
            background: url('@/assets/images/icon/icon_arrow_right_base.svg')
              no-repeat;
            background-size: contain;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
          }
        }
        .icon-center {
          position: relative;
          display: inline-block;
          padding-left: rem(28px);
          &::before {
            content: '';
            position: absolute;
            width: rem(20px);
            height: rem(20px);
            background: url('@/assets/images/icon/icon_arrow_right_base.svg')
              no-repeat;
            background-size: contain;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
          }
        }
        .icon-left {
          position: relative;
          display: block;
          padding-left: rem(36px);
          &::before {
            content: '';
            position: absolute;
            width: rem(20px);
            height: rem(20px);
            background: url('@/assets/images/icon/icon_arrow_right_base.svg')
              no-repeat;
            background-size: contain;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
      &.color-base-under {
        .btn-txt {
          text-decoration: underline;
          text-decoration-color: $primary-base;
          -webkit-text-decoration-color: $primary-base;
        }
      }
      &.color-dark-under {
        .btn-txt {
          text-decoration: underline;
          text-decoration-color: $primary-dark;
          -webkit-text-decoration-color: $primary-dark;
        }
      }
      &.color-disabled-under {
        .btn-txt {
          text-decoration: underline;
          text-decoration-color: $neutral-basegrey;
          -webkit-text-decoration-color: $neutral-basegrey;
        }
      }
      &[class*='color-dark'] {
        .btn-txt {
          color: $primary-dark;
        }
        .icon-right {
          position: relative;
          display: block;
          padding-right: rem(36px);
          &::before {
            content: '';
            position: absolute;
            width: rem(20px);
            height: rem(20px);
            background: url('@/assets/images/icon/icon_arrow_right_dark.svg')
              no-repeat;
            background-size: contain;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
          }
        }
        .icon-center {
          position: relative;
          display: inline-block;
          padding-left: rem(28px);
          &::before {
            content: '';
            position: absolute;
            width: rem(20px);
            height: rem(20px);
            background: url('@/assets/images/icon/icon_arrow_right_dark.svg')
              no-repeat;
            background-size: contain;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
          }
        }
        .icon-left {
          position: relative;
          display: block;
          padding-left: rem(36px);
          &::before {
            content: '';
            position: absolute;
            width: rem(20px);
            height: rem(20px);
            background: url('@/assets/images/icon/icon_arrow_right_disabled.svg')
              no-repeat;
            background-size: contain;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
      &[class*='color-disabled'] {
        .btn-txt {
          color: $neutral-basegrey;
        }
        .icon-right {
          position: relative;
          display: block;
          padding-right: rem(36px);
          &::before {
            content: '';
            position: absolute;
            width: rem(20px);
            height: rem(20px);
            background: url('@/assets/images/icon/icon_arrow_right_disabled.svg')
              no-repeat;
            background-size: contain;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
          }
        }
        .icon-center {
          position: relative;
          display: inline-block;
          padding-left: rem(28px);
          &::before {
            content: '';
            position: absolute;
            width: rem(20px);
            height: rem(20px);
            background: url('@/assets/images/icon/icon_arrow_right_disabled.svg')
              no-repeat;
            background-size: contain;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
          }
        }
        .icon-left {
          position: relative;
          display: block;
          padding-left: rem(36px);
          &::before {
            content: '';
            position: absolute;
            width: rem(20px);
            height: rem(20px);
            background: url('@/assets/images/icon/icon_arrow_right_disabled.svg')
              no-repeat;
            background-size: contain;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
      // 폰트 사이즈
      &.fs-large {
        font-size: 16px;
        font-weight: 500;
        line-height: rem(22.4px);
      }
      &.fs-small {
        font-size: 12px;
        font-weight: 500;
        line-height: normal;
        .icon-right {
          position: relative;
          display: block;
          padding-right: rem(31px);
          &::before {
            content: '';
            position: absolute;
            width: rem(15px);
            height: rem(15px);
          }
        }
        .icon-center {
          position: relative;
          display: inline-block;
          padding-left: rem(24px);
          &::before {
            content: '';
            position: absolute;
            width: rem(15px);
            height: rem(15px);
            background-size: contain;
          }
        }
        .icon-left {
          position: relative;
          display: block;
          padding-left: rem(31px);
          &::before {
            content: '';
            position: absolute;
            width: rem(15px);
            height: rem(15px);
            background-size: contain;
          }
        }
      }
    }
  }
}
