@use '../abstract/' as *;

@mixin inputFeild {
  .inputField {
    width: 100%;
    &__wrap {
      position: relative;
    }
    &__input {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      outline: none;
      padding: rem(16px);
      border: solid rem(1px) $neutral-basegrey;
      border-radius: rem(8px);
      font-size: rem(16px);
      color: $neutral-dark;
      width: 100%;
      &::placeholder {
        color: $neutral-basegrey;
      }
      &:focus {
        box-shadow: 0 0 0 rem(1px) $primary-base inset;
        border: solid rem(1px) $primary-base;
      }
      &--warn {
        &:not(:placeholder-shown) {
          box-shadow: 0 0 0 rem(1px) $error-base inset;
          border: solid rem(1px) $error-base;
        }
        &:focus {
          box-shadow: 0 0 0 rem(1px) $error-base inset;
          border: solid rem(1px) $error-base;
        }
      }
      &[type='password'] {
        padding-right: rem(50px);
      }
      &__checkbox {
        width: rem(22px);
        height: rem(22px);
        padding: 0;
        border-radius: rem(4px);
        cursor: pointer;
        &:checked {
          background-color: $primary-base;
          background-image: url(@/assets/images/icon/checkbox_arrow.svg);
          background-repeat: no-repeat;
          background-size: rem(16px) rem(16px);
          background-position: center center;
          border: none;
        }
        &:focus {
          box-shadow: none;
          border: solid rem(1px) $neutral-basegrey;
        }
        &--small {
          width: rem(15px);
          height: rem(15px);
          &:checked {
            background-size: rem(11px) rem(11px);
          }
        }
        &--round {
          border-radius: rem(100px);
        }
        &--highlight {
          &:checked {
            background-color: $primary-dark;
          }
        }
      }
      &[readonly]:focus {
        box-shadow: none;
      }
      &--sub {
        margin-left: rem(23px);
      }
    }
    select {
      width: 100%;
      padding-right: rem(50px);
      background-image: url(@/assets/images/icon/select_arrow.svg);
      background-repeat: no-repeat;
      background-position: right rem(16px) top 50%;
      cursor: pointer;
      &[readonly]:focus {
        box-shadow: none;
      }
    }
    &__text {
      border: none;
      width: 100%;
      padding: rem(16px);
      font-size: rem(16px);
      line-height: rem(22.4px);
      height: auto;
      resize: none;
      color: $neutral-darkgrey;
      overflow-y: auto;
      &:focus {
        outline: none;
      }
      &::placeholder {
        color: $neutral-basegrey;
      }
      &--side {
        width: calc(100% - rem(34px));
        padding: 0;
        margin-left: rem(12px);
        height: rem(22px);
        &--sub {
          width: calc(100% - rem(58px));
        }
      }
      &.checked {
        text-decoration: line-through;
      }
      &[class*='textarea_'] {
        padding: rem(0px);
        color: $neutral-dark;
        width: 100%;
      }
      &.textarea_tit {
        font-size: rem(32px);
        font-weight: 700;
        line-height: rem(38.4px);
        height: rem(42px);
      }
      &.textarea_des {
        font-size: rem(16px);
        font-weight: 400;
        height: rem(23px);
      }
    }
    &__file {
      display: none;
      &--label {
        display: block;
        width: rem(64px);
        height: rem(64px);
        padding: rem(16px);
        box-shadow: 0 rem(3px) rem(4px) 0 rgba(0, 0, 0, 0.2);
        border-radius: rem(100px);
        &::after {
          content: '';
          display: block;
          width: rem(32px);
          height: rem(32px);
          background-image: url(@/assets/images/icon/file_pencil.svg);
        }
      }
    }
    &__search {
      width: 100%;
      padding: rem(8px);
      background-color: $neutral-lightgrey;
      border: none;
      border-radius: rem(8px);
      font-size: rem(14px);
      &--remove {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: rem(10px);
        height: rem(10px);
        background-color: $neutral-darkgrey;
      }
      &::placeholder {
        color: $neutral-basegrey;
      }
      &:focus {
        outline: none;
      }
      &::-ms-clear,
      &::-ms-reveal {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: rem(18px);
        height: rem(18px);
        border-radius: rem(100px);
        background-color: $neutral-basegrey;
        background-image: url(@/assets/images/icon/search_x.svg);
        background-size: rem(14px) rem(14px);
        background-repeat: no-repeat;
        background-position: center center;
        margin-left: rem(8px);
      }
      &::-webkit-search-decoration,
      &::-webkit-search-cancel-button,
      &::-webkit-search-results-button,
      &::-webkit-search-results-decoration {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: rem(18px);
        height: rem(18px);
        border-radius: rem(100px);
        background-color: $neutral-basegrey;
        background-image: url(@/assets/images/icon/search_x.svg);
        background-size: rem(14px) rem(14px);
        background-repeat: no-repeat;
        background-position: center center;
        margin-left: rem(8px);
      }
    }
    &__title {
      font-size: rem(16px);
      font-weight: 500;
      margin-bottom: rem(12px);
    }
    &__caption {
      font-size: rem(12px);
      color: $neutral-basegrey;
      margin-top: rem(12px);
    }
    &__button {
      position: absolute;
      top: 50%;
      right: rem(12px);
      background: url(@/assets/images/icon/eye.svg) no-repeat;
      width: rem(24px);
      height: rem(24px);
      border: none;
      transform: translateY(-50%);
      cursor: pointer;
      &[readonly] {
        filter: opacity(25%);
      }
    }
    &__toggle {
      display: none;
      &--label {
        display: block;
        position: relative;
        width: rem(44px);
        height: rem(22px);
        background-color: $neutral-lightgrey;
        border-radius: rem(50px);
        transition: all 0.3s;
        &--circle {
          display: block;
          position: absolute;
          width: rem(18px);
          height: rem(18px);
          background-color: $neutral-basegrey;
          border-radius: rem(100px);
          top: 50%;
          left: rem(2px);
          transform: translateY(-50%);
          transition: all 0.3s;
        }
        &--highlight {
          background-color: $primary-light;
          .inputField__toggle--label--circle {
            background-color: $primary-dark;
          }
        }
      }
      &:checked {
        & + .inputField__toggle--label {
          background-color: $primary-light;
          .inputField__toggle--label--circle {
            background-color: $primary-base;
            left: rem(24px);
          }
        }
        & + .inputField__toggle--label--highlight {
          .inputField__toggle--label--circle {
            background-color: $primary-dark;
          }
        }
      }
    }
    &--disabled {
      position: relative;
      width: 100%;
      display: block;
      color: $neutral-basegrey;
      .inputField {
        &__input {
          border: solid rem(1px) $neutral-lightgrey;
          background-color: $neutral-lightgrey;
          color: $neutral-basegrey;
          &__checkbox {
            background-color: $neutral-basegrey;
            background-image: url(@/assets/images/icon/checkbox_arrow.svg);
            &:checked {
              background-color: $neutral-basegrey;
            }
          }
        }
        &__toggle {
          &--label {
            background-color: transparent;
            border: solid rem(1px) $neutral-lightgrey;
            &--circle {
              background-color: $neutral-lightgrey;
            }
          }
          &:checked {
            & + .inputField__toggle--label {
              background-color: $neutral-basegrey;
              border: none;
              .inputField__toggle--label--circle {
                background-color: $neutral-darkgrey;
              }
            }
          }
        }
      }
      select {
        background-image: url(@/assets/images/icon/select_arrow_gray.svg);
      }
      & + .inputField,
      + .inputField--disabled {
        margin-top: rem(32px);
      }
    }
    & + .inputField,
    + .inputField--disabled {
      margin-top: rem(32px);
    }
    &.inputField:has(> .textarea_tit),
    &.inputField:has(> .textarea_des) {
      width: 100%;
    }
    & + .inputField:has(> .textarea_des) {
      margin-top: rem(16px);
    }
  }
}
