@use 'sass:list';
@use 'sass:map';
@use 'sass:color';
@use 'sass:string';
@use '../abstract/' as *;

@mixin modal() {
  .popup {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: rem(40px);
    background-color: rgba($color: $neutral-dark, $alpha: 0.3);
    z-index: 100;
    &.active {
      display: flex;
    }
    &--area {
      position: relative;
      padding: rem(32px 24px);
      background-color: $neutral-white;
      border-radius: rem(16px);
    }
    &--header {
      h4 {
        font-size: rem(20px);
        text-align: center;
        font-weight: 700;
      }
      .success {
        padding-top: 80px;
        background-image: url('@/assets/images/icon/icon Label.png');
        background-repeat: no-repeat;
        background-position: center top;
      }
    }
    &--body {
      margin-top: rem(8px);
      &__contnet {
        font-size: rem(16px);
        color: $neutral-darkgrey;
        text-align: center;
      }
    }
    &--footer {
      margin-top: rem(48px);
      text-align: center;
      button {
        &:nth-child(n + 1) {
          margin-left: 16px;
        }
      }
      a {
        &:nth-child(n + 1) {
          margin-left: 16px;
        }
      }
    }
    &--bottom {
      justify-content: flex-end;
      padding: rem(0px);
      .popup {
        &--area {
          border-radius: rem(16px 16px 0 0);
          width: 100%;
          padding: rem(48px 16px 16px);
        }
        &--body {
          margin: 0;
        }
        &--footer {
          margin: 0;
          position: absolute;
          right: rem(16px);
          top: rem(16px);
          display: flex;
        }
      }
    }
    .bg {
      &--list {
        &__title {
          font-size: rem(10px);
          line-height: rem(12px);
          color: $neutral-darkgrey;
        }
      }
      &--item {
        padding-top: rem(16px);
      }
    }
    .notification {
      &--title {
        padding-top: rem(176px);
        background-image: url('@/assets/images/icon/Illustration.png');
        background-repeat: no-repeat;
        background-position: center top;
        h5 {
          font-weight: 700;
          font-size: rem(20px);
          line-height: rem(28px);
          color: $neutral-dark;
        }
      }
      &--descript {
        margin-top: rem(8px);
        p {
          font-weight: 400;
          font-size: rem(16px);
          line-height: rem(22px);
          color: $neutral-darkgrey;
        }
      }
      button {
        margin: rem(16px) 0;
      }
    }
    .restore {
      padding-left: rem(44px);
      width: 100%;
      line-height: rem(56px);
      color: $neutral-dark;
      font-size: rem(16px);
      font-weight: 500;
      border: none;
      text-align: left;
      background-image: url('@/assets/images/icon/icon-list-reply.svg');
      background-repeat: no-repeat;
      background-position: left rem(8px) center;
    }
    .deleteBtn {
      padding-left: rem(44px);
      margin-top: rem(8px);
      padding-top: rem(8px);
      width: 100%;
      text-align: left;
      line-height: rem(56px);
      color: $error-base;
      font-size: rem(16px);
      font-weight: 500;
      border: none;
      border-top: rem(1px) solid $neutral-lightgrey;
      background-image: url('@/assets/images/icon/icon-list-trash.svg');
      background-repeat: no-repeat;
      background-position: left rem(8px) top rem(24px);
    }
    .extras {
      margin-top: rem(16px);
      border-top: rem(1px) solid $neutral-lightgrey;
      padding-top: rem(16px);
      &__title {
        font-size: rem(10px);
        line-height: rem(12px);
        color: $neutral-darkgrey;
      }
      ul {
        margin-top: rem(8px);
        li {
          button {
            padding-left: rem(44px);
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: left;
            width: 100%;
            height: rem(56px);
            border: none;
            &[data-icon] {
              background-repeat: no-repeat;
              background-position: left rem(8px) center;
            }
            &[data-icon='1'] {
              background-image: url('@/assets/images/icon/icon-list-clock.svg');
            }
            &[data-icon='2'] {
              background-image: url('@/assets/images/icon/icon-list-pencil-alt.svg');
            }
            &[data-icon='3'] {
              background-image: url('@/assets/images/icon/icon-list-tag.svg');
            }
            &[data-icon='4'] {
              background-image: url('@/assets/images/icon/icon-list-check.svg');
            }
            span {
              font-size: rem(12px);
              color: $neutral-darkgrey;
              display: block;
              padding-right: rem(24px);
              background-image: url('@/assets/images/icon/setting_arrow.svg');
              background-position: right rem(5px) center;
              background-repeat: no-repeat;
            }
          }
        }
      }
    }
    .closeBtn {
      width: rem(24px);
      height: rem(24px);
      background-color: $neutral-lightgrey;
      border-radius: 100%;
      border: none;
      cursor: pointer;
      background-image: url('@/assets/images/icon/setting_x.svg');
      background-position: center;
      background-repeat: no-repeat;
      span {
        @include ally-hidden;
      }
    }
  }
}
