@use 'sass:list';
@use 'sass:map';
@use 'sass:color';
@use 'sass:string';
@use '../abstract/' as *;

@mixin modal() {
  .popup {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: rem(40px);
    background-color: rgba($color: $neutral-dark, $alpha: 0.3);
    &.active {
      display: flex;
    }
    &--area {
      position: relative;
      padding: rem(32px 24px);
      background-color: $neutral-white;
      border-radius: rem(16px);
    }
    &--header {
      h4 {
        font-size: rem(20px);
        text-align: center;
        font-weight: 700;
      }
      .success {
        padding-top: 80px;
      }
    }
    &--body {
      margin-top: rem(8px);
      &__contnet {
        font-size: rem(16px);
        color: $neutral-darkgrey;
        text-align: center;
      }
    }
    &--footer {
      margin-top: rem(48px);
      text-align: center;
    }
    &--bottom {
      justify-content: flex-end;
      padding: rem(0px);
      .popup {
        &--area {
          border-radius: rem(16px 16px 0 0);
          width: 100%;
          padding: rem(48px 16px 16px);
        }
        &--body {
          margin: 0;
        }
        &--footer {
          margin: 0;
          position: absolute;
          right: rem(16px);
          top: rem(16px);
        }
      }
    }
  }
}
