@use '../abstract/' as *;

@mixin titleArea() {
  .title {
    font-size: rem(32px);
    color: $neutral-dark;
    font-weight: 700;
    line-height: rem(32px);
    margin: rem(16px) 0;
    &--gray {
      color: $neutral-darkgrey;
      font-size: rem(32px);
      font-weight: 700;
      line-height: rem(32px);
    }
  }
}

@mixin hiddens() {
  .hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
}
